*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gif {
    height: 200px;
    width: 200px;
}
.wrapper {
    display: flex;
    width: 100%; /* hoặc giá trị cụ thể theo ý muốn */
    height: 100%;
    justify-content: center; /* hoặc giá trị cụ thể theo ý muốn */
    flex-direction: column;
    align-items: center;

    /* Các thuộc tính khác theo nhu cầu của bạn */
  }

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}
.btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
button {
    position: absolute;
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    font-size: 1.2em;
}
button:nth-child(1) {
    margin-left: -200px;
    background: #e94d58;
}
button:nth-child(2) {
    margin-right: -200px;
    background: white;
    color: #e94d58;
}

.heart-container {
    position: relative;
    animation: heartAnimation 2s ease-in-out;
}

.heart-img {
    width: 100px;
    height: 100px;
    opacity: 0;
}

@keyframes heartAnimation {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    50% {
        opacity: 0.8;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
